services:
  recostream:
    image: ghcr.io/sergeschumacher/recostream:latest
    container_name: recostream2
    restart: unless-stopped
    ports:
      - "33000:3000"
      - "5004:5004"
    environment:
      - NODE_ENV=production
      - TZ=Europe/Luxembourg
      - PLEX_URL=http://192.168.102.2:32400
      - TMDB_API_KEY=31999af2f9bc9e468e0c5d5d1ec69732
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
      - ADMIN_USERNAME=admin
      - ADMIN_PASSWORD=password
    volumes:
      - /mnt/user/appdata/recostream/data:/data
      - /mnt/remotes/192.168.10.101_Plex_Movies/Series:/data/downloads/series
      - /mnt/remotes/192.168.10.101_Plex_Movies/Movies:/data/downloads/movies
      - /mnt/remotes/192.168.10.101_Plex_Movies/IPTV_Records:/data/recordings
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:3000/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      - lan102
    runtime: nvidia

networks:
  lan102:
    external: true
    name: br0.102
